---
import { Image } from "astro:assets";
import "../styles/global.css";
import Github from "../assets/github-mark-white.svg";
---

<nav
  id="navbar"
  class="m-auto my-3 flex justify-between items-center bg-white/10 backdrop-blur-md px-10 py-3 rounded-full bg-blue-600 w-7xl"
>
  <div class="text-lg font-bold"><a href="/">Alan</a></div>
  <div class="flex items-center space-x-6 font-semibold">
    <a href="/" class="hover:text-gray-700"> Home </a>
    <a href="/about" class="hover:text-gray-700"> About </a>
    <a href="/portfolio" class="hover:text-gray-700"> Portfolio </a>
    <a href="/contact" class="hover:text-gray-700"> Contact </a>
  </div>
  <div>
    <a href="https://github.com/Syawalan"
      ><Image src={Github} alt="Github" class="w-6 h-6" />
    </a>
  </div>
</nav>
